:root {
  --background-color: rgb(37, 36, 36);
}

.login-page {
  background-image: url("/login-background.jpg");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  min-height: 100vh
}

.loginpage-logo {
  filter: invert(1);
}

.transition-side {
  transition: transform 0.5s ease-in-out;
}

body {
  background: var(--background-color);
}

.sidebar {
  background: var(--background-color);
}

.nav-logo {
  filter: invert(1);
}

h1 {
  color: white;
}